     /* Estilo básico para resaltar los elementos al pasar el ratón sobre ellos */
     body{
        text-align: center;
    }
    .elemento {
        cursor: pointer;
        margin: 5px;
        padding: 5px;
        border: 1px solid #ccc;
        display: inline-block;
    }
    .elemento:hover{
        background-color: aqua;
        transition: 0.5s;
    }

    /*estilos de la otra cajita la de la prueba aleatoria*/
    .elemento2 {
        cursor: pointer;
        margin: 5px;
        padding: 5px;
        border: 1px solid #ccc;
        display: inline-block;
    }

    /*botoncito de girar*/
    #botonSeleccionar{
        margin-bottom: 5px;
    }

    #reloadButton{
        margin-top: 5px;
    }
    