:root{
    --font-family: 'Jolly Lodger', cursive;
}
body{
    width: 100%;
    background-image: url(../images/fondo.png);
    font-family: var(--font-family);
    color: #F0F08F;
    margin: 0;
}

h1{
    text-align: center;
    font-size: 66px;
    font-weight: 600;
    letter-spacing: 7.3px;  
}

 
.text-introduction{
    font-size: 30px;
    text-align: center;

}
p{
    margin-top: 5px;
    margin-bottom: 5px;
}
.start-game{
    text-align: center;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
label{
    font-size: 22px;
}
#user{
    width: 100%;
    max-width: 200px;
    height:1.5em;
    border-radius:1em;
    font-size: 22px;
    background-color:#F0F08F;
    font-family:inherit;
    text-align: center;
    color: #001F3F;
    margin: 0 auto;
}

#btn-start{
    width: 100%;
    max-width: 200px;
    height: 1.5em;
    margin-top: 15px;
    border-radius: 1em;
    font-size: 22px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
    cursor:pointer;
    color: #01162c;
   }
   
#btn-start::before {
    content: '';
    width: 0;
    height: 3em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0f3a67 0%,#9e5fde 70%, #FFD700 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   
#btn-start:hover::before {
    width: 100%;
   }
