     /* Estilo básico para resaltar los elementos al pasar el ratón sobre ellos */
     body{
        text-align: center;
    }
    .elemento {
        cursor: pointer;
        margin: 5px;
        padding: 5px;
        border: 1px solid #ccc;
        display: inline-block;
    }
    .elemento:hover{
        background-color: aqua;
        transition: 0.5s;
    }
header {
    background-color: #160FF2 ;
    text-align: left;
    padding-left: 5%;
    width: 125%;
    height: 8%;
    position: fixed;
    top:0;
    left: 0%;
}
