
header {
  background-color: #160FF2 ;
  text-align: left;
  padding-left: 5%;
  width: 125%;
  height: 8%;
  position: fixed;
  top:0;
  left: 0%;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #232741;
}

section{
  display: flex;
  /* max-width: 1000px; */
  flex-direction: column;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: repeat(2,1fr);
  align-items: center;
  justify-content: center;
  gap: 5px;
  max-width: 400px;
  margin: 5rem auto; 
  overflow: hidden;
  height: 20rem;
}


.element {
  width: 4rem;
  height: 3rem;
  margin: 0.3rem;
  border-radius: 50%;
  font-size:12px;
  text-align: center;
  justify-content: center;
  padding-top: 1rem;
  color: azure;
  background-color: #672494;
  position: relative;
  cursor: pointer;
} 

.btn_init{
  align-content: center;
  align-items: center;
  padding: 1.5rem;
  color: azure;
  background-color: #672494;
}